*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.exe
*.bin
*.out
*.app
*.db
*.key
*.pem
*.crt
cmake-build-*/
**/.idea/
**/fileman/
**/fileman/*
app/payloads
**/config.json
**/logfile.txt