<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/stylesheets/bulma.min.css" />
    <link rel="stylesheet" href="static/stylesheets/main.css" />
    <script type="module" src="static/scripts/main/main.js" defer></script>
</head>
    
<body>

    <!-- Contains object info, notifications -->
    <div id="object-container">
        <div id="object-menu" class="element-rgb-hover">
                <ul class="menu-list menu">

                    <li><a>Team Settings</a></li>
                    <li>
                      <a class="is-active">Manage Your Team</a>
                      <ul>
                        <li><a>Members</a></li>
                        <li><a>Plugins</a></li>
                        <li><a>Add a member</a></li>
                      </ul>
                    </li>
                    <li><a>Invitations</a></li>
                    <li><a>Cloud Storage Environment Settings</a></li>
                    <li><a>Authentication</a></li>
                    <li><a>Invitations</a></li>
                    <li><a>Cloud Storage Environment Settings</a></li>
                    <li><a>Authentication</a></li>
                    <li><a>Invitations</a></li>
                    <li><a>Cloud Storage Environment Settings</a></li>
                    <li><a>Authentication</a></li>
                    <li><a>Invitations</a></li>
                    <li><a>Cloud Storage Environment Settings</a></li>
                    <li><a>Authentication</a></li>
                </ul>

            <div id="object-icon-container"> 
                <img src="static/assets/icon_root.png" class="placeholder-image"/>
            </div>
        </div>

        <!-- displays notifications (event log) -->
        <div id="notification-center" class="element-rgb-hover">
            <div class="notification deletable-parent">
                <button class="delete"></button>
                This is a notification!
            </div>

            <div class="notification deletable-parent">
                <button class="delete"></button>
                This notification indicates success
                blablabla
            </div>

            <div class="notification deletable-parent">
                <button class="delete"></button>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor.
                Pellentesque risus mi, tempus quis placerat ut, porta nec
                nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam,
                et dictum efficitur.
            </div>

            <div class="notification deletable-parent">
                <button class="delete"></button>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor.
                Pellentesque risus mi, tempus quis placerat ut, porta nec
                nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam,
                et dictum efficitur.
            </div>
        </div>
    </div>


    <!-- Contains terminal windows (instances) and righthand menu -->
    <div id="terminal-container">

        <div class="container-generic-flex-row">
            <div class="terminal-instance element-rgb-hover">

                
                <div class="terminal-instance-element message deletable-parent">
                    <div class="message-header">
                        <p>Hello World</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        eleifend lacus, in mollis lectus. Donec sodales, arcu et

                        sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a
                        neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.

                    </div>
                </div>


                <div class="terminal-instance-element message deletable-parent">
                    <div class="message-header">
                        <p>Hello World</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        ligula, id porttitor mi magna a
                        neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.

                    </div>
                </div>


                <div class="terminal-instance-element message deletable-parent">
                    <div class="message-header">
                        <p>Hello World</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">

                        Lorem ipsum dolor sit amet, consectetur adipiscing

                    </div>
                </div>


                <div class="terminal-instance-element message deletable-parent">
                    <div class="message-header">
                        <p>Hello World</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        ligula, id porttitor mi magna a
                        neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.

                    </div>
                </div>
            </div>

            <div id="terminal-menu" class="menu element-rgb-hover">
                <p class="menu-label" style="margin-top:1vh">Object Sessions</p>
                <ul class="menu-list">
                    <li><a>Example1</a></li>
                    <li><a>Example2</a></li>
                    <li><a>Example3</a></li>
                </ul>
            </div>
        </div>


        <input id="terminal-input" class="input is-normal element-rgb-hover" type="text" placeholder="Input Goes Here...">

    </div>
</body>
</html>
