<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    
    <title>Lurch - Client</title>
    <link rel="stylesheet" href="static/stylesheets/bulma.min.css" />
    <link rel="stylesheet" href="static/stylesheets/main.css" />
    <link rel="icon" href="static/assets/logo.png">
    <script type="module" src="scripts/main/main.js" defer></script>
</head>
    
<body>

    <!-- Contains object menu and notifications -->
    <div id="object-container">
        <div id="object-menu" class="element-rgb-hover">
            
            <!-- this menu list should always start out with the root object available. -->
            <ul class="menu-list menu">
                <li data-object-type="root"><a draggable="true">root :: root object</a></li>
            </ul>

            <!-- contains icons that are displayed when objects are clicked in the menu. -->
            <!-- to avoid slow load times, all icons are kept on the page but hidden, and then unhidden when they need to be displayed. -->
            <div id="object-icon-container"> 
                <img src="static/assets/icon_question_mark.png" data-object-type="none"         class="placeholder-image" draggable="false"/>
                <img src="static/assets/icon_root.png"          data-object-type="root"         class="placeholder-image" style="display:none;" draggable="false"/>
                <img src="static/assets/icon_agent.png"         data-object-type="agent"        class="placeholder-image" style="display:none;" draggable="false"/>
                <img src="static/assets/icon_group.png"         data-object-type="group"        class="placeholder-image" style="display:none;" draggable="false"/>
                <img src="static/assets/icon_external.png"      data-object-type="external"     class="placeholder-image" style="display:none;" draggable="false"/>
                <img src="static/assets/icon_generic.png"       data-object-type="generic"      class="placeholder-image" style="display:none;" draggable="false"/>
            </div>
        </div>


        <!-- displays notifications (event log) -->
        <div id="notification-center" class="element-rgb-hover">
            <img src="static/assets/ui_empty_notifications.png" class="placeholder-image">
        </div>
    </div>


    <!-- Contains terminal windows (instances) and righthand menu -->
    <div id="terminal-container" data-is-fullscreen="false">
        
        <div class="container-generic-flex-row">
            <img src="static/assets/icon_filedrop.png" class="file-drop-icon">
            <div class="terminal-instance">
                <img src="static/assets/ui_empty_sessions.png" class="placeholder-image" draggable="false">
            </div>

            <div id="terminal-menu" class="menu element-rgb-hover">
                <p class="menu-label" style="margin-top:1vh">Object Sessions</p>
                <ul class="menu-list">
                    
                </ul>
            </div>
        </div>

        <textarea id="terminal-input" data-gramm="false" spellcheck="false" class="input is-normal element-rgb-hover" type="text" placeholder="Input Goes Here..."></textarea>

    </div>
</body>
</html>
