<!DOCTYPE html>
<html lang="en" class="theme-dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Lurch - Login</title>
    <link rel="stylesheet" href="static/stylesheets/bulma.min.css">
    <link rel="stylesheet" href="static/stylesheets/login.css">
    <link rel="icon" href="static/assets/logo.png">
    <script src="scripts/login/login.js" defer></script>
</head>
<body>


    <div class="notification is-danger deletable-parent above-login-container" style="visibility:hidden;">
        <button class="delete"></button>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
    </div>

    <div id="login-container">
        <div class="field">

            <label class="label" for="username">Name</label>
            <div class="control" style="margin-bottom: 10px">
                <input class="input" type="text" id="username" name="username" placeholder="...">
            </div>

            <label class="label" for="password">Password</label>
            <div class="control" style="margin-bottom: 10px">
                <input class="input" type="password" id="password" name="password" placeholder="...">
            </div>

            <button class="button" name="submit" id="submit">Submit</button>
        </div>
    </div>

    <!-- <img src="static/assets/logo.png" class="logo" draggable="false"> -->

</body>
</html>