
* {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Cascadia Mono', Consolas, monospace, 'Cascadia Code', Arial !important;
    scrollbar-width:none;
}

head{
    display:none;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width:100vw;
    height:100vh;
}



#object-container {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 40vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#object-menu {
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    width: 79.8%;
    height: 100%;
    overflow:hidden;
}

#object-menu .menu-list {
    width:70% !important;
    height:100% !important;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    overflow:scroll;
    scrollbar-width: none;
}

#object-menu .menu-list * {
    display:flex;
    flex-direction: column;
    width:98%;
    max-height:fit-content;
}

#object-icon-container{
    display:flex;
    height:100%;
    width:29.8%;

    border-left: 2px solid rgba(50, 50, 50, 0.7);
}

#notification-center{
    display:flex;
    align-items:center;
    flex-direction:column;
    
    overflow:scroll;
    scrollbar-width:none;

    width:20%;
    margin-left:1.2%;
    height:100%;
}

#notification-center .notification {
    margin-bottom: 8px !important;
    width: 95% !important;
}

#terminal-container{
    width:95vw;
    height:55vh;
    justify-content:left;
    flex-direction:column;
}

#terminal-input {
    max-width: 80%;
    outline: none;
    caret: block;
    height: 10%;
    border: none;
    font-size: 16px;
    justify-self:flex-end;
}

#terminal-menu {
    height: 100%;
    width: 20%;

    overflow: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3px;

    overflow: scroll;
    margin-left:20px;
    scrollbar-width: none;
}

#terminal-menu .menu-list{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:scroll;
    scrollbar-width:none;
}

#terminal-menu .menu-list li{
    width:90%;
    height:auto;
}

#terminal-menu .menu-list li a{
    text-align:center !important;
    text-overflow: hidden;
}


.hidden-image{
    display: none !important;
}

/* For elements that have an RGB hue when hovered over */
.element-rgb-hover {
    outline: 1px solid; 
    border-radius: 10px; 
    outline-color:white;
    transition: outline-color 0.5s ease-in-out; 
    transition: box-shadow 0.5s ease-in-out; 
}

.element-rgb-hover:hover {
    outline:3px solid;
    outline-color: #0066cc;
    box-shadow: 0 0 10px #0066cc; 
}

.terminal-instance{
    display:flex;
    flex-direction:column;
    height:100%;
    width:80%;
    overflow:auto;
    scrollbar-width:none;
}

.terminal-session{
    height:100%;
    width:100%;
    overflow:scroll;
    justify-content: left;
    display:flex;
    flex-direction:column;
    overflow:scroll;
    scrollbar-width:none;
}

.terminal-instance-element{
    display:flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
}

.terminal-instance-element .message-header p {
    color: rgb(58, 189, 255);
}

.container-generic-flex-row{
    display:flex;
    flex-direction:row;
    width:100%;
    height:80%;
    margin-bottom:20px;
}

.instance-list-item{
    max-width:95%;
    max-height:fit-content;
}



.placeholder-image{
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
}