/* Elements */

* {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Cascadia Mono', Consolas, monospace, 'Cascadia Code', Arial !important;
}

html {
    /* 
    dumb issue. Empty scroilbar will appear on the side of the page if I don't do this. 
    */
    scrollbar-width: none; 
}

head{
    display:none;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width:100vw;
    height:100vh;
}


/* IDs */

#object-container {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 40vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#object-menu {
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    width: 79.8%;
    height: 100%;
    overflow:hidden;
}

#object-menu .menu-list {
    width:70% !important;
    height:100% !important;
    display: flex;
    justify-content: left;
    align-items:center;
    flex-direction:column;

    overflow:scroll;
    scrollbar-width: none;
}

#object-menu .menu-list * {
    display:flex;
    flex-direction: column;
    width:98%;
    max-height:fit-content;
}

#object-icon-container{
    display:flex;
    height:100%;
    width:29.8%;

    border-left: 2px solid rgba(50, 50, 50, 0.7);
}

#notification-center{
    display:flex;
    align-items:center;
    flex-direction:column;
    
    overflow-y:scroll;
    overflow-x:hidden;

    width:20%;
    margin-left:1.2%;
    height:100%;
}

#notification-center::-webkit-scrollbar {
    width:10px;
}

#notification-center::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(57, 63, 75);
}

#notification-center::-webkit-scrollbar-track {
    background-color: rgb(46, 51, 61);
}

#notification-center .notification {
    margin-bottom: 22px !important;
    width: 91% !important;
    text-overflow: hidden;
}

#terminal-container{
    width:95vw;
    height:55vh;
    justify-content:left;
    flex-direction:column;
    transition: opacity 1s ease, height 0.5s ease-in-out;
}

#terminal-input {
    width: 100%;
    scrollbar-width: none;
    outline: none;
    resize:none;
    caret: block;
    height: 10%;
    border: none;
    font-size: 16px;
    justify-self:flex-end;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

#terminal-menu {
    height: 100%;
    width: 20%;

    overflow: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3px;

    overflow: scroll;
    margin-left:20px;
    scrollbar-width: none;
}

#terminal-menu .menu-list{
    height:100%;
    width:100%;
    
    display:flex;
    flex-direction:column;
    align-items:center;

    overflow-x:hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#terminal-menu .menu-list li{
    width:90%;
    height:auto;
}

#terminal-menu .menu-list li a{
    text-align:center !important;
    text-overflow: hidden;
}



/* Classes */

.element-rgb-hover {
    border-radius: 10px; 
    outline: 2px solid transparent; 
    outline-color:rgb(67, 75, 88);
    transition: outline-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 0 transparent; 
}

.element-rgb-hover:hover {
    outline-color: #0066cc;
    box-shadow: 0 0 10px #0066cc; 
}

.file-drop-icon {
    position: absolute;
    top:50%;
    left:40%;
    padding-bottom:8vh;
    transform: translate(-50%, -40%);
    max-height:60%;
    width:auto;
    opacity: 100%;
    z-index: 9999;
    pointer-events: none !important;
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.lowered-opacity {
    opacity: 30%;
}

.hidden-image{
    display: none !important;
}


/* Many styles here are copied from .element-rgb-hover,
   because I need to support multiple transitions on this element.
*/
.terminal-instance{
    display:flex;
    flex-direction:column;
    
    height:100%;
    width:80%;
    
    overflow:auto;
    transition: opacity         0.3s ease-in-out, 
                outline-color   0.2s ease-in-out, 
                box-shadow      0.2s ease-in-out,
                width           0.5s ease-in-out;
    
    border-radius: 10px; 
    outline: 2px solid transparent; 
    outline-color:rgb(67, 75, 88);
    box-shadow: 0 0 0 transparent; 
}

.terminal-instance:hover {
    outline-color: #0066cc;
    box-shadow: 0 0 10px #0066cc; 
}


.terminal-session{
    height:100%;
    width:100%;
    
    overflow-y:scroll;
    overflow-x:hidden;
    
    justify-content: left;
    display:flex;
    flex-direction:column;
}

.terminal-session::-webkit-scrollbar{
    width: 10px;
}

.terminal-session::-webkit-scrollbar-thumb { 
    border-radius: 8px;
    background-color: rgb(57, 63, 75);
}

.terminal-session::-webkit-scrollbar-track {
    background-color: rgb(46, 51, 61);
}

.terminal-instance-element{
    display:flex;
    flex-direction:row;
    width:100%;
    padding-right:2%;
    height:fit-content;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
}

.terminal-instance-element .message{
    display:flex;
    flex-direction:column;
    width:100% !important;
    height:fit-content !important;
}

.message-span {
    width:100%;
    padding-left:0.5vw;
    color: hsl( 221deg , 14% , 71% );
    font-weight:bolder;
    font-size:larger;
}

.message-body {
    padding-bottom: 0;
    padding-right: 0;
    overflow:auto;
    scrollbar-width: none;
}

.terminal-instance-element .message-header p { /* unused */
    color: rgb(58, 189, 255);
}

.container-generic-flex-row{
    position:relative;
    display:flex;
    flex-direction:row;
    width:100%;
    height:80%;
    margin-bottom:20px;
}

.instance-list-item{
    max-width:95%;
    max-height:fit-content;
}

.placeholder-image{
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
}


/* Animations */

@keyframes popIn {
    0% {
        transform: scale(0); 
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popOut {
    0% {
        transform: scale(1); 
        opacity: 1; 
    }
    100% {
        transform: scale(0.5); 
        opacity: 0; 
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes terminalContainerTopExtend {
    to {
        margin-top:0;
        height:90vh;
    }
}

@keyframes terminalContainerTopShrink {
    to {
        margin-top:45vh;
        height:55vh;
    }
}

@keyframes notificationAdjust {
    to {
        margin-top:0;
    }
}